export RESTIC_PASSWORD='{{ restic_repo_password }}'
export RESTIC_REPOSITORY='{{ restic_repo_path }}'
export AWS_ACCESS_KEY_ID='{{ restic_s3_key_id }}'
export AWS_SECRET_ACCESS_KEY='{{ restic_s3_access_key }}'
export RESTIC_HOST='{{ restic_hostname }}'