services:
  vaultwarden:
    image: vaultwarden/server:{{ vaultwarden_version }}
    container_name: vaultwarden
    restart: unless-stopped
    user: 1000:1000
    environment:
      DOMAIN: "https://vw.{{ domain }}"
      SHOW_PASSWORD_HINT: false
      EXTENDED_LOGGING: true
      LOG_FILE: "/data/log/vaultwarden.log"
    volumes:
      - ./data/:/data/
    ports:
      - 127.0.0.1:8000:80
    networks:
      - caddy_reverse_proxy

networks:
  caddy_reverse_proxy:
    external: true
