# user  www www;

worker_processes  2;

pid /var/run/nginx.pid;

#                          [ debug | info | notice | warn | error | crit ]

error_log /dev/stderr info;

events {
    worker_connections   2000;

    # use [ kqueue | epoll | /dev/poll | select | poll ];
    # use kqueue; # TODO: invalid
}

http {
    # include       conf/mime.types;
    default_type  application/octet-stream;


    log_format main      '$remote_addr - $remote_user [$time_local] '
                         '"$request" $status $bytes_sent '
                         '"$http_referer" "$http_user_agent" '
                         '"$gzip_ratio"';

    log_format download  '$remote_addr - $remote_user [$time_local] '
                         '"$request" $status $bytes_sent '
                         '"$http_referer" "$http_user_agent" '
                         '"$http_range" "$sent_http_content_range"';

    client_header_timeout  3m;
    client_body_timeout    3m;
    send_timeout           3m;

    client_header_buffer_size    1k;
    large_client_header_buffers  4 4k;

    gzip on;
    gzip_min_length  1100;
    gzip_buffers     4 8k;
    gzip_types       text/plain;

    output_buffers   1 32k;
    postpone_output  1460;

    sendfile         on;
    tcp_nopush       on;
    tcp_nodelay      on;
    send_lowat       12000;

    keepalive_timeout  75 20;

    #lingering_time     30;
    #lingering_timeout  10;
    #reset_timedout_connection  on;

    # The `upstream` directives ensure that you have a http/1.1 connection
    # This enables the keepalive option and better performance
    #
    # Define the server IP and ports here.
    upstream vaultwarden-default {
        zone vaultwarden-default 64k;
        server vaultwarden:80;
        keepalive 2;
    }

    # Needed to support websocket connections
    # See: https://nginx.org/en/docs/http/websocket.html
    # Instead of "close" as stated in the above link we send an empty value.
    # Else all keepalive connections will not work.
    map $http_upgrade $connection_upgrade {
        default upgrade;
        ''      "";
    }

    # Redirect HTTP to HTTPS
    server {
        listen 80;
        listen [::]:80;
        server_name vw.{{ domain }};

        return 301 https://$host$request_uri;
    }

    server {
        # For older versions of nginx appended http2 to the listen line after ssl and remove `http2 on`
        listen 443 ssl;
        listen [::]:443 ssl;
        http2 on;
        server_name vw.{{ domain }};

        ssl_certificate /etc/letsencrypt/live/vw.{{ domain }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/vw.{{ domain }}/privkey.pem;
        ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
        add_header Strict-Transport-Security "max-age=31536000;";

        client_max_body_size 525M;

        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        # If you use Cloudflare proxying, replace $remote_addr with $http_cf_connecting_ip
        # See https://developers.cloudflare.com/support/troubleshooting/restoring-visitor-ips/restoring-original-visitor-ips/#nginx-1
        # alternatively use ngx_http_realip_module
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        location / {
            proxy_pass http://vaultwarden-default;
        }

        # Optionally add extra authentication besides the ADMIN_TOKEN
        # Remove the comments below `#` and create the htpasswd_file to have it active
        #
        #location /admin {
        #  # See: https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-http-basic-authentication/
        #  auth_basic "Private";
        #  auth_basic_user_file /path/to/htpasswd_file;
        #
        #  proxy_pass http://vaultwarden-default;
        #}
    }
}

stream {
    server {
        listen      1667 ssl;
        # listen      [::]:1667 ssl;
        server_name   irc.{{ domain }};

        proxy_pass soju:6667;
        proxy_protocol on;

        ssl_certificate /etc/letsencrypt/live/irc.{{ domain }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/irc.{{ domain }}/privkey.pem;
        ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
    }
}