server {
    listen 1667 ssl;
    server_name irc.{{ domain }};

    resolver 127.0.0.11 valid=10s;
    set $soju_backend soju:6667;
    proxy_pass $soju_backend;
    proxy_protocol on;

    ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}