#!/bin/sh
set -e

# Generate dhparams.pem if needed
DHPARAM_FILE="/etc/nginx/certs/ssl-dhparams.pem"
generate_dhparams() {
  openssl dhparam -out "$DHPARAM_FILE" 2048
}

# Check if file exists
if [[ ! -f "$DHPARAM_FILE" ]]; then
  echo "File not found: $DHPARAM_FILE"
  generate_dhparams
else
  # Validate the file
  if openssl dhparam -in "$DHPARAM_FILE" -check -noout > /dev/null 2>&1; then
    echo "DH params file is valid."
  else
    echo "Invalid DH params file."
    generate_dhparams
  fi
fi

echo "Running acme-setup.sh"
chmod +x /acme-setup.sh
sh /acme-setup.sh

echo "Starting nginx..."
rm -f /run/nginx.pid
exec nginx -g "daemon off;"