(logging) {
        log {
                level DEBUG

                format filter {
                        fields {
                                request>uri query {
                                        replace access_token REDACTED
                                }
                        }
                }

                output file /var/log/caddy-{args.0}.log {
                        mode 644
                        roll_size 40MiB
                }
        }
}

{
        crowdsec {
                api_url http://crowdsec:8080
                api_key {{ caddy_reverse_proxy_bouncer_key }}
                ticker_interval 15s
                appsec_url http://crowdsec:7422
                # disable_streaming
                # enable_hard_fails
        }
}

git.{{ domain }} {
        import logging gitea

        route {
                crowdsec
                reverse_proxy http://gitea:3000
        }
}

vw.{{ domain }} {
        import logging vaultwarden

        route {
                crowdsec
                reverse_proxy http://vaultwarden:80 {
                        header_up X-Real-IP {remote_host}
                }
        }
}

cal.{{ domain }} {
        import logging radicale

        route {
                crowdsec
                reverse_proxy http://radicale:5232
        }
}
