services:
  soju:
    build: .
    container_name: {{ role_name }}
    restart: unless-stopped
    environment:
      TZ: "ET"
    user: {{ soju_uid }}:{{ soju_gid }}
    networks:
      - nginx_reverse_proxy
    volumes:
      - ./sock:/run/soju
      - ./soju-config:/etc/soju/config
      - ./data:/var/lib/soju
    healthcheck:
      test: ["CMD", "sojuctl", "help"]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  nginx_reverse_proxy:
    external: true